<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.photome">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!--HELP TOOL-->
        <activity
            android:name=".Others.SettingActivity"
            android:label="@string/menu_setting"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Others.AboutUsActivity"
            android:excludeFromRecents="true"
            android:label="@string/menu_about"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Others.FeedbackActivity"
            android:excludeFromRecents="true"
            android:label="@string/menu_feedback"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Others.TutorialActivity"
            android:excludeFromRecents="true"
            android:label="@string/menu_tutorial"
            android:parentActivityName=".MainActivity"
            android:screenOrientation="portrait" />

        <!--GALLERY-->
        <activity
            android:name=".Gallery.GalleryMainActivity"
            android:excludeFromRecents="true"
            android:label="@string/gallery_item_album"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Gallery.GalleryPhotosActivity"
            android:excludeFromRecents="true"
            android:label="GalleryPhotos"
            android:parentActivityName=".Gallery.GalleryMainActivity"
            android:screenOrientation="portrait" />

        <!--EDITOR-->
        <activity
            android:name=".Editor.EditorMainActivity"
            android:excludeFromRecents="true"
            android:label="@string/editor_name"
            android:screenOrientation="portrait" />


    </application>

</manifest>